In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as mno
from tqdm import tqdm
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.utils.validation import check_is_fitted
from tensorflow.keras import Sequential #khung 
from tensorflow.keras.layers import Conv2D
from tensorflow.keras.layers import MaxPooling2D
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dense 
import tensorflow as tf
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
train_ = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/cleaned_data_train_2702.csv')
print(train_.shape)
train_

(128657, 173)

        Unnamed: 0   age  elective_surgery  ...  icu_type_SICU  bmi_category  label
0                0  68.0                 0  ...              0             1    1.0
1                1  77.0                 0  ...              0             2    1.0
2                2  25.0                 0  ...              0             3    0.0
3                3  81.0                 1  ...              0             1    0.0
4                4  67.0                 0  ...              0             2    1.0
...            ...   ...               ...  ...            ...           ...    ...
128652      128652  50.0                 0  ...              0             2    0.0
128653      128653  79.0                 0  ...              0             2    0.0
128654      128654  73.0                 0  ...              0             3    1.0
128655      128655  81.0                 0  ...              0             1    0.0
128656      128656  35.0                 0  ...              0             3    0.0

[128657 rows x 173 columns]

## With all features

In [ ]:
y = train_.iloc[:,-1]
X = train_.iloc[:,1:-1]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1, stratify=y)
y.value_counts()/len(y)

0.0    0.782694
1.0    0.217306
Name: label, dtype: float64

In [ ]:
from imblearn.over_sampling import RandomOverSampler
over = RandomOverSampler(sampling_strategy=0.4)
X_over, y_over = over.fit_resample(X_train, y_train)
from imblearn.under_sampling import RandomUnderSampler
under = RandomUnderSampler(sampling_strategy=0.6)
X_under, y_under = under.fit_resample(X_over, y_over)

In [ ]:
from collections import Counter
print(Counter(y_under))
print(X_under.shape)
print(X_test.shape)

Counter({0.0: 53705, 1.0: 32223})
(85928, 171)
(25732, 171)

In [ ]:
X_under_train = X_under.reshape(85928,1,171,1)
X_test = X_test.to_numpy()
X_test = X_test.reshape(25732,1,171,1)

## Built CNN

In [ ]:
#Part 1: Create a box
#Initialising the CNN - create an empty box
classifier= Sequential()
#Step 1- Convolution:
classifier.add(Conv2D(32,(1,3), input_shape=(1,171,1),activation='relu'))
#Step 2- Pooling:
classifier.add(MaxPooling2D(pool_size=(1,2)))
#Add a second convolutional layer
classifier.add(Conv2D(32,(1,3), activation='relu'))
classifier.add(MaxPooling2D(pool_size=(1,2)))
# Step 3: Flattening
classifier.add(Flatten()) # ma tran lam phang 
# Step 4: Fully connection
classifier.add(Dense(units=128, activation='relu')) #hidden layers # align with input_shape
classifier.add(Dense(units=1, activation='sigmoid')) # ANN
# Compiling the CNN
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 1, 169, 32)        128
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 1, 84, 32)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 1, 82, 32)         3104
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 1, 41, 32)         0
_________________________________________________________________
flatten (Flatten)            (None, 1312)              0
_________________________________________________________________
dense (Dense)                (None, 128)               168064
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 129
=================================================================
Total params: 171,425
Trainable params: 171,425
Non-trainable params: 0
_________________________________________________________________

In [ ]:
classifier.fit(X_under_train, y_under, validation_data=(X_test, y_test), epochs=15)

Epoch 1/15
2686/2686 [==============================] - 28s 10ms/step - loss: 1.0073 - accuracy: 0.7034 - val_loss: 0.4365 - val_accuracy: 0.8103
Epoch 2/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.5124 - accuracy: 0.7518 - val_loss: 0.4388 - val_accuracy: 0.7920
Epoch 3/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.5006 - accuracy: 0.7563 - val_loss: 0.4961 - val_accuracy: 0.7460
Epoch 4/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.4912 - accuracy: 0.7640 - val_loss: 0.4155 - val_accuracy: 0.8035
Epoch 5/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.4865 - accuracy: 0.7674 - val_loss: 0.4376 - val_accuracy: 0.7858
Epoch 6/15
2686/2686 [==============================] - 35s 13ms/step - loss: 0.4847 - accuracy: 0.7706 - val_loss: 0.4134 - val_accuracy: 0.8064
Epoch 7/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.4764 - accuracy: 0.7747 - val_loss: 0.4238 - val_accuracy: 0.8002
Epoch 8/15
2686/2686 [==============================] - 27s 10ms/step - loss: 0.4753 - accuracy: 0.7763 - val_loss: 0.4103 - val_accuracy: 0.8077
Epoch 9/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.4756 - accuracy: 0.7725 - val_loss: 0.4388 - val_accuracy: 0.7897
Epoch 10/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.4704 - accuracy: 0.7758 - val_loss: 0.4493 - val_accuracy: 0.7824
Epoch 11/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.4674 - accuracy: 0.7788 - val_loss: 0.4210 - val_accuracy: 0.8022
Epoch 12/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.4661 - accuracy: 0.7799 - val_loss: 0.4252 - val_accuracy: 0.8010
Epoch 13/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.4615 - accuracy: 0.7831 - val_loss: 0.4355 - val_accuracy: 0.7929
Epoch 14/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.4617 - accuracy: 0.7835 - val_loss: 0.4255 - val_accuracy: 0.8002
Epoch 15/15
2686/2686 [==============================] - 26s 10ms/step - loss: 0.4579 - accuracy: 0.7836 - val_loss: 0.4740 - val_accuracy: 0.7692

In [ ]:
predict_ = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/cleaned_data_test_2702.csv')
print(predict_.shape)
predict_

(10234, 172)

       Unnamed: 0   age  ...  icu_type_SICU  bmi_category
0          128657  72.0  ...              0             2
1          128658  86.0  ...              0             2
2          128659  72.0  ...              0             2
3          128660  66.0  ...              0             2
4          128661  89.0  ...              0             2
...           ...   ...  ...            ...           ...
10229      138886  36.0  ...              0             3
10230      138887  61.0  ...              0             3
10231      138888  74.0  ...              0             1
10232      138889  90.0  ...              0             1
10233      138890  30.0  ...              0             2

[10234 rows x 172 columns]

In [ ]:
X_predict = predict_.iloc[:,1:]
X_predict = X_predict.to_numpy()
X_predict = X_predict.reshape(10234,1,171,1)

Function to check result with input prob which classifier one patient be or not be sick

In [ ]:
def check(X_predict, X_train, y_train, X_test, y_test, prob):
  testPredict = classifier.predict(X_predict)
  testTrain = classifier.predict(X_train)
  testTest = classifier.predict(X_test)
  m = len(testPredict[testPredict >= prob])
  a = len(testTrain[testTrain >= prob]) / len(y_train[y_train == 1])
  b = len(testTest[testTest >= prob]) / len(y_test[y_test == 1])
  print(prob, m, a, b)

In [ ]:
i = 0.3
while i <= 0.4:
  check(X_predict, X_under_train, y_under, X_test, y_test, i)
  i += 0.01

0.3 5135 1.5538900785153462 2.344241773962804
0.31 5032 1.529745833721255 2.300429184549356
0.32 4910 1.5062222636005338 2.2562589413447784
0.33 4821 1.481674580268752 2.206902718168813
0.34 4722 1.4593613257611022 2.163805436337625
0.35000000000000003 4633 1.437451509791143 2.1187410586552216
0.36000000000000004 4526 1.4148279179468082 2.0804721030042916
0.37000000000000005 4433 1.3919250224994568 2.03826895565093
0.38000000000000006 4349 1.369301430655122 2.001251788268956
0.39000000000000007 4260 1.3483536604288862 1.9569027181688126

In [ ]:
result = classifier.predict(X_predict)
result = result.reshape(10234)
print(len(result[result >= 0.28]))
for i in range(len(result)):
  if result[i] >= 0.28:
    result[i] = 1
  else: result[i] = 0
print(len(result[result == 1]))

5344
5344

In [ ]:
q = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/submission_11.csv')
encounter_id = q['encounter_id']

In [ ]:
dataset = pd.DataFrame({'encounter_id': encounter_id, 'diabetes_mellitus': result})
dataset.to_csv('/content/gdrive/MyDrive/Colab Notebooks/under28.csv')
dataset

       encounter_id  diabetes_mellitus
0            144740                0.0
1            141990                0.0
2            142038                1.0
3            138628                0.0
4            141682                1.0
...             ...                ...
10229        143750                0.0
10230        143813                0.0
10231        137126                1.0
10232        135652                0.0
10233        136852                0.0

[10234 rows x 2 columns]

In [ ]:
len(dataset['diabetes_mellitus'][dataset['diabetes_mellitus'] == 1])

5344

# **Top 10 features**

In [ ]:
top10 = ['d1_glucose_max', 'glucose_apache', 'h1_glucose_max', 'bmi_category', 'h1_glucose_min', 'd1_glucose_min', 'age', 
         'd1_creatinine_min', 'd1_bun_min', 'd1_bun_max', 'd1_creatinine_max', 'creatinine_apache']
y = train_.iloc[:,-1]
X = train_.loc[:,top10]
X

        d1_glucose_max  glucose_apache  ...  d1_creatinine_max  creatinine_apache
0           168.000000      168.000000  ...           2.510000           2.510000
1           145.000000      145.000000  ...           0.710000           0.560000
2           172.667436      159.311340  ...           1.256880           1.240601
3           185.000000      185.000000  ...           1.256880           1.240601
4           156.000000      156.000000  ...           0.710000           0.710000
...                ...             ...  ...                ...                ...
128652      172.186040      158.405088  ...           1.525476           1.517321
128653      139.000000      139.000000  ...           1.070000           1.070000
128654      346.000000      346.000000  ...           2.650000           2.430000
128655      156.000000      137.000000  ...           2.210000           1.517321
128656      100.000000      162.734740  ...           1.060000           2.265045

[128657 rows x 12 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1, stratify=y)
over = RandomOverSampler(sampling_strategy=0.4)
X_over, y_over = over.fit_resample(X_train, y_train)
under = RandomUnderSampler(sampling_strategy=0.6)
X_under, y_under = under.fit_resample(X_over, y_over)
print(Counter(y_under))

Counter({0.0: 53705, 1.0: 32223})

In [ ]:
print(X_under.shape)
print(X_test.shape)

(85928, 12)
(25732, 12)

In [ ]:
X_under_train = X_under.reshape(85928,1,12,1)
X_test = X_test.to_numpy()
X_test = X_test.reshape(25732,1,12,1)

In [ ]:
#Part 1: Create a box
#Initialising the CNN - create an empty box
classifier= Sequential()
#Step 1- Convolution:
classifier.add(Conv2D(32,(1,3), input_shape=(1,12,1),activation='relu'))
#Step 2- Pooling:
classifier.add(MaxPooling2D(pool_size=(1,2)))
#Add a second convolutional layer
classifier.add(Conv2D(32,(1,3), activation='relu'))
classifier.add(MaxPooling2D(pool_size=(1,2)))
# Step 3: Flattening
classifier.add(Flatten()) # ma tran lam phang 
# Step 4: Fully connection
classifier.add(Dense(units=128, activation='relu')) #hidden layers # align with input_shape
classifier.add(Dense(units=1, activation='sigmoid')) # ANN
# Compiling the CNN
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
classifier.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_4 (Conv2D)            (None, 1, 10, 32)         128
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 1, 5, 32)          0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 1, 3, 32)          3104
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 1, 1, 32)          0
_________________________________________________________________
flatten_2 (Flatten)          (None, 32)                0
_________________________________________________________________
dense_4 (Dense)              (None, 128)               4224
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 129
=================================================================
Total params: 7,585
Trainable params: 7,585
Non-trainable params: 0
_________________________________________________________________

In [ ]:
classifier.fit(X_under_train, y_under, validation_data=(X_test, y_test), epochs=15)

Epoch 1/15
2686/2686 [==============================] - 7s 2ms/step - loss: 0.6808 - accuracy: 0.6917 - val_loss: 0.6337 - val_accuracy: 0.6533
Epoch 2/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5493 - accuracy: 0.7277 - val_loss: 0.5026 - val_accuracy: 0.7776
Epoch 3/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5362 - accuracy: 0.7369 - val_loss: 0.4387 - val_accuracy: 0.7941
Epoch 4/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5207 - accuracy: 0.7449 - val_loss: 0.4896 - val_accuracy: 0.7633
Epoch 5/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5171 - accuracy: 0.7459 - val_loss: 0.4542 - val_accuracy: 0.7814
Epoch 6/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5125 - accuracy: 0.7493 - val_loss: 0.4540 - val_accuracy: 0.7863
Epoch 7/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5112 - accuracy: 0.7497 - val_loss: 0.4841 - val_accuracy: 0.7639
Epoch 8/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5070 - accuracy: 0.7539 - val_loss: 0.4233 - val_accuracy: 0.8012
Epoch 9/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5084 - accuracy: 0.7530 - val_loss: 0.4716 - val_accuracy: 0.7716
Epoch 10/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5067 - accuracy: 0.7529 - val_loss: 0.4264 - val_accuracy: 0.7979
Epoch 11/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5074 - accuracy: 0.7506 - val_loss: 0.4748 - val_accuracy: 0.7653
Epoch 12/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5061 - accuracy: 0.7531 - val_loss: 0.4576 - val_accuracy: 0.7771
Epoch 13/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5039 - accuracy: 0.7556 - val_loss: 0.4486 - val_accuracy: 0.7856
Epoch 14/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5025 - accuracy: 0.7555 - val_loss: 0.4653 - val_accuracy: 0.7795
Epoch 15/15
2686/2686 [==============================] - 6s 2ms/step - loss: 0.5059 - accuracy: 0.7540 - val_loss: 0.4199 - val_accuracy: 0.8007

In [ ]:
X_predict = predict_.loc[:,top10]
X_predict = X_predict.to_numpy()
X_predict = X_predict.reshape(10234,1,12,1)

In [ ]:
result = classifier.predict(X_predict)

In [ ]:
result = classifier.predict(X_predict)
result = result.reshape(10234)
print(len(result[result >= 0.28]))
for i in range(len(result)):
  if result[i] >= 0.28:
    result[i] = 1
  else: result[i] = 0
print(len(result[result == 1]))

3796
3796

In [ ]:
dataset = pd.DataFrame({'encounter_id': encounter_id, 'diabetes_mellitus': result})
dataset.to_csv('/content/gdrive/MyDrive/Colab Notebooks/under28_10features.csv')
dataset

       encounter_id  diabetes_mellitus
0            144740                0.0
1            141990                0.0
2            142038                0.0
3            138628                0.0
4            141682                1.0
...             ...                ...
10229        143750                0.0
10230        143813                0.0
10231        137126                0.0
10232        135652                0.0
10233        136852                0.0

[10234 rows x 2 columns]

In [ ]:
len(dataset['diabetes_mellitus'][dataset['diabetes_mellitus'] == 1])

3796